<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.skyflightmobapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Thankyou"></activity>
        <activity android:name=".FlightStatus" />
        <activity android:name=".AboutUs" />
        <activity android:name=".PaymentSucceed" />
        <activity android:name=".PaymentPage" />
        <activity android:name=".BookingInformation2" />
        <activity android:name=".BaggageDetails" />
        <activity android:name=".BookFlight" />
        <activity android:name=".WelcomePage" />
        <activity android:name=".BookingInformation1" />
        <activity android:name=".Signup" />
        <activity android:name=".Signin" />
        <activity android:name=".SecondPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>